/Übungen/uebung-01.aux
/Übungen/uebung-01.log
/Übungen/uebung-01.pdf
/Übungen/uebung-01.synctex.gz
/Übungen/uebung-02.aux
/Übungen/uebung-02.log
/Übungen/uebung-02.pdf
/Übungen/uebung-02.synctex.gz
/Uebungen/auto/uebung-03.el
/Uebungen/auto/uebung-04.el
/Uebungen/uebung-04.aux
/Uebungen/uebung-04.log
/Uebungen/uebung-04.pdf
/Uebungen/uebung-04.synctex.gz
/Uebungen/auto/uebung-05.el
/Uebungen/uebung-05.aux
/Uebungen/uebung-05.log
/Uebungen/uebung-05.pdf
/Uebungen/uebung-05.synctex.gz
/Uebungen/auto/uebung-07.el
/Uebungen/auto/uebung-08.el
/Uebungen/uebung-08.aux
/Uebungen/uebung-08.log
/Uebungen/uebung-08.pdf
/Uebungen/uebung-08.synctex.gz
/Uebungen/auto/uebung-06-03-musterloesung.el
/Vorlesungen/auto
/Vorlesungen/tmplecturefile-*
/Vorlesungen/TheoLog2017-Vorlesung-*.pdf
